@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My Simple Jokes App</h1>
    <p>Hey, this is just one of those cranky things people do to forget their wahalas</a>.</p>
</div>
